@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
body {
    font-size: 1.5em;
    font-family: 'Trade Winds';
}

.text-title {
    font-family: 'Trade Winds';
    font-size: 4em;
    color:#D980FA;
}

.bg-title {
    background-image: linear-gradient(to bottom right, #0652DD, #EA2027);
    background: url('../img/space.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background: url('../img/space.jpg') center center no-repeat;    
}

.text-subtitle {
    font-family: 'Lacquer';
    color:#D980FA;
    font-size: 2em;
}

.bg-menu{
    background-color: #5758BB;
}

.bg-footer {
    background: #5758BB;
    color:#D980FA;
}